# flyctl launch added from .gitignore
**/.env
**/__pycache__
**/*.pyc
**/.venv

**/.pytest_cache
**/.coverage
**/htmlcov

**/dist
**/build
**/*.egg-info

# flyctl launch added from sentio/.gitignore
sentio/**/.env
sentio/**/__pycache__
sentio/**/*.pyc
sentio/**/.venv

sentio/**/.pytest_cache
sentio/**/.coverage
sentio/**/htmlcov

sentio/**/dist
sentio/**/build
sentio/**/*.egg-info
fly.toml

.env
__pycache__/
*.pyc
.venv/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/