button {
    display: inline-block;
    width: fit-content;
    margin: 2rem 0.5rem;
    padding: 0.4rem 0.6rem;
    font: 500 2.5vw 'Nunito';
    color: #cbcbcb;
    background-color: #333;
    border-radius: 0.2rem;
    border: 1px solid #1d242c;
    text-align: center;
}

button:hover {
    transform: translate(0.3rem, 0.1rem);
}

#share {
    display: flex;
    align-items: center
}

#shareIcon {
    padding: 0.4rem 0.4rem 0rem 0rem;
    align-self: center;
    cursor: pointer;
}

box {
    width: fit-content;
    margin: 0.1rem;
    padding: 0.4rem 0.6rem;
    font: 500 2.5vw 'Nunito';
    color: #cbcbcb;
    background-color: #333;
    border-radius: 0.2rem;
    border: 1px solid #1d242c;
    text-align: center;
}

box>a {
    color: #cbcbcb;
    text-decoration: none;
}

@media screen and (min-width: 640px) {

    button,
    box {
        font-size: 1.4vw;
    }
}

@media screen and (min-width: 1024px) {

    button,
    box {
        font-size: 1.2vw;
    }
}

@media screen and (min-width: 1280px) {

    button,
    box {
        font-size: 0.8vw;
    }
}