#link-container {
    width: 100vw;
    height: max-content;
    margin-top: 1rem;
    min-height: max-content;
}

#ourtoppicks {
    font-size: 1rem;
}

section {
    display: grid;
    margin: 0 2rem;
    height: 100%;
}

summary {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    font-family: 'Cabin';
    margin: 0 1rem 1rem 1rem;
    color: #1d242c;
    border-bottom: 1px solid #1d242c;
    overflow: hidden;
}

summary:hover {
    background-color: #d4d4d424;
}

summary>img {
    padding-bottom: 0.5rem;
}

#preview {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
    color: #1d242c;

    @supports (-webkit-line-clamp: 3) {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        transform: none;
        font-weight: 100;
        font-size: 0.8rem;
        text-decoration: none;
        color: #1d242c;
    }
}

#article-title {
    font: 1rem 'Cabin';
    font-weight: 600;
    text-decoration: none;
    color: #1d242c;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

footer {
    position: relative;
    bottom: 0;
    padding: 15px;
    width: 100vw;
    min-width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

footer a {
    display: inline;
    font: 2.8vw 'Cabin';
    font-weight: 400;
    color: #509056;
    text-decoration: none;
    margin: 0 5px 0 5px;
}

footer a:hover {
    scale: 1.05;
}

@media screen and (min-width: 421px) {
    #welcome {
        text-align: center;
    }

    section {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 1rem;
    }

    summary {
        font-size: initial;
    }

    footer a {
        font-size: 1.8vw;
    }
}

@media screen and (min-width: 540px) {
    #welcome {
        text-align: center;
    }

    section {
        grid-template-columns: repeat(3, 1fr);
    }

    summary {
        font-size: initial;
    }
}

@media screen and (min-width: 921px) {
    #ourtoppicks {
        font-size: 1.2rem;
    }

    section {
        grid-template-columns: repeat(4, 1fr);
        margin: 0 3rem;
    }

    #preview {
        @supports (-webkit-line-clamp: 3) {
            font-size: 0.9rem;
        }
    }

    footer a {
        font-size: 1.3vw;
    }
}

@media screen and (min-width: 1280px) {
    section {
        margin: 0 5rem;
    }

    #article-title {
        font-size: 1.2rem;
    }

    #preview {
        @supports (-webkit-line-clamp: 3) {
            font-size: 1rem;
        }
    }

    footer a {
        font-size: 1vw;
    }
}