form>input,
label,
aside>p {
    margin: 0.5rem;
    margin-left: 0;
    font: 400 2.5vw 'Nunito';
}

label {
    font-weight: 600;
}

input {
    border: transparent;
    outline: none;
    background-color: #FFFCFC;
}

form>* {
    width: 65%;
}

hr {
    width: 66.5%;
    border: 0.5px solid #1d242c;
}

@media screen and (min-width: 640px) {

    form>input,
    label,
    aside>p {
        font-size: 1.5vw;
    }

    form>* {
        width: 45%;
    }

    hr {
        width: 46%;
    }
}

@media screen and (min-width: 1024px) {

    form>input,
    label,
    aside>p {
        font-size: 1.2vw;
    }
}

@media screen and (min-width: 1280px) {

    form>input,
    label,
    aside>p {
        font: 400 1vw 'Nunito';
    }

    form>* {
        width: 25%;
    }

    hr {
        width: 25.5%;
        border: 1px solid #1d242c;
    }
}

@media screen and (min-width: 640px) and (max-width: 1279px) and (orientation: landscape) {
    form>* {
        width: 32%;
    }

    hr {
        width: 33%;
    }
}