* {
    --intro-line-font: 'Quicksand';
    --intro-second-line: 'Caveat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

html,
body {
    font-family: sans-serif;
    width: 100vw;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #fffcfc;
}

body {
    display: flex;
    flex-direction: column;
}

.flash {
    z-index: 1;
    color: #1d242c;
    text-align: center;
    transform: translateY(50%);
    font-family: 'Nunito';
}

form {
    max-width: 100%;
    width: 100%;
    display: grid;
    flex-direction: column;
    margin: 1rem 0;
    padding: 0 1rem;
    border-left: none;
}

form>* {
    justify-self: center;
}

#edit-delete-wrapper {
    display: flex;
    align-self: center;
    justify-content: center;
}