* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    display: none;
}

html,
body {
    font-family: sans-serif;
    width: 100%;
    scroll-behavior: smooth;
    background-color: #fffcfc;
}

body {
    display: flex;
    flex-direction: column;
}

.flash {
    z-index: 1;
    color: #1d242c;
    text-align: center;
    transform: translateY(50%);
    font-family: 'Nunito';
}

/* styling for write */
form {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form>input {
    max-width: 80%;
    width: 80%;
    margin: 0.5rem;
}

#article-title-1 {
    font: 1.35rem 'Cabin';
    font-weight: 600;
    border: 1px solid #d4d4d4;
    padding: 0.3rem;
    outline: none;
    color: #1d242c;
}

#body {
    width: 80%;
    max-width: 80%;
    height: 63vh;
    max-height: 80%;
    border: 1px solid #d4d4d4;
    outline: none;
    resize: none;
    padding: 0.5rem;
    font: 1rem 'Cabin';
    font-weight: 500;
    overflow-y: scroll;
    margin-bottom: 0.2rem;
    background-color: white;
}

#fragment,
#image_credit,
#meta_description {
    width: 50%;
    font: 1rem 'Garamond';
    border: 1px solid #d4d4d4;
    padding: 0.2rem;
    outline: none;
    color: #1d242c;
}

#body>img,
#body>div>img,
#body>p>img {
    width: 60%;
}

@media screen and (min-width: 1024px) {
    #body {
        height: 65vh;
        margin-bottom: 0.5rem;
        width: 60%;
    }

    form>input {
        width: 60%;
    }

    #fragment,
    #image_credit,
    #meta_description {
        width: 30%;
    }
}

/* Modal */
#media {
    text-align: center;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #ffffffb5;
}

#close_modal {
    position: fixed;
    top: 0;
    right: 0;
    scale: 3;
    margin: 10px;
    cursor: pointer;
}

#images {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(auto-fit, 100px);
    grid-gap: 5px;
    height: 60vh;
    overflow-y: scroll;
    margin: 30px;
}

#images>img {
    cursor: pointer;
    padding: 5px;
}

#images>img:hover {
    background-color: #d4d4d476;
}