<link rel="stylesheet" href="{{ url_for('static', filename='styles/nav.css') }}">
<script src="{{ url_for('static', filename='js/firstLoad.js')}}" defer></script>
<header>
    <div id="title">
        <a id="title" title="home" href="{{ url_for ('home') }}">
            Skin Shimmer
        </a>
        <p id="tagline">skincare, hair care, and more</p>
    </div>
    <nav>
        <a href="{{ url_for ('blog.post') }}" title="posts">
            <!-- <svg width="30" height="30" viewBox="0 0 30 30">
                <polygon points="20,26 4,26, 4,4 14,4 14,10 20,10 15,4 20,10" stroke="burlywood" fill="none"
                    stroke-linejoin="round" />
            </svg> -->
            All Posts</a>
    </nav>
</header>
{% block content %}
{% endblock %}