<link rel="stylesheet" href="{{ url_for('static', filename='styles/nav.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap"
    rel="stylesheet">
<script src="{{ url_for('static', filename='js/firstLoad.js')}}" defer></script>
<header>
    <a id="title" title="home" href="{{ url_for ('home') }}">
        Skincare&More
    </a>
    <nav>
        <a href="{{ url_for ('blog.post') }}" title="posts">
            All Posts</a>
    </nav>
</header>
{% block content %}
{% endblock %}