<header>
    <a id="title" title="home" href="{{ url_for ('home') }}">
        Butterskinned<span style="font-size: 1.2rem;">.me</span>
    </a>
    <nav>
        <div><a href="{{ url_for ('blog.post') }}" title="posts">
                All Posts</a>
            <a href="{{ url_for ('blog.hair') }}" title="posts">
                Hair</a>
            <a href="{{ url_for ('blog.skincare') }}" title="posts">
                Skincare</a>
        </div>
        <hr>
        <div>
            {% if session['user_id'] %}
            <a href="/write">
                Write</a>
            <a href="/logout" title="posts">
                Log Out</a>
            {% endif %}
        </div>
    </nav>
</header>
{% block content %}
{% endblock %}