<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="All blog posts from oldest to newest">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/content.css') }}">
    {% include 'head.html' %}
    {% include 'cookies.html' %}
    <title>All Posts | Butterskinned | Skincare, Hair, and More</title>
</head>

<body>
    {% extends 'nav.html' %}
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}
    <div id="link-container">
        <h1 id="ourtoppicks">All Articles</h1>
        <section>
            {% for post in posts %}
            <summary>
                {% if post['image_url'] %}
                <img src="{{ post['image_url'] }}" alt="{{ post['title'] | safe }}" height="55%" width="100%">
                {% endif %}
                {% if not post['image_url'] %}
                <img src="../static/images/placeholder.webp" alt="placeholder" height="55%" width="100%">
                {% endif %}
                <a href="/{{ post ['category'] }}/{{ post['fragment']}}" id="article-title">{{ post['title'] | safe
                    }}</a>
                <a href="/{{ post ['category'] }}/{{ post['fragment']}}" id="preview">{{ post['body'] | striptags |
                    truncate(90, True, '..') | replace(" ",
                    "//space//") | replace("<br>",
                    "//nbsp//") | replace("<div>",
                        "//nbsp//") | striptags | replace("//space//", " " ) |
                        replace("//nbsp//", "\n") }}</a>
            </summary>
            {% endfor %}
        </section>
    </div>
    {% include 'paginator.html' %}
    {% include 'footer.html' %}
    {% endblock %}
</body>

</html>