<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-QZD2DDJZRZ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-QZD2DDJZRZ');
    </script> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Skincare, Hair, and More">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Nunito|Quicksand">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/content.css') }}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7394667149835180"
        crossorigin="anonymous"></script>
    <title>All Posts | Butterskinned | Skincare, Hair, and More</title>
</head>

<body>
    <!-- Cookie Consent by TermsFeed https://www.TermsFeed.com -->
    <script type="text/javascript" src="//www.termsfeed.com/public/cookie-consent/4.2.0/cookie-consent.js"
        charset="UTF-8"></script>
    <script type="text/javascript" charset="UTF-8">
        document.addEventListener('DOMContentLoaded', function () {
            cookieconsent.run({ "notice_banner_type": "interstitial", "consent_type": "express", "palette": "light", "language": "en", "page_load_consent_levels": ["strictly-necessary"], "notice_banner_reject_button_hide": false, "preferences_center_close_button_hide": false, "page_refresh_confirmation_buttons": false, "website_name": "Butterskinned.me", "website_privacy_policy_url": "https://butterskinned.me/privacy" });
        });
    </script>

    <!-- Performance Analytics -->
    <script data-cookie-consent="tracking" async
        src="https://www.googletagmanager.com/gtag/js?id=G-QZD2DDJZRZ"></script>
    <script data-cookie-consent="tracking">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-QZD2DDJZRZ');
    </script>
    <!-- end of Performance Analytics-->
    {% extends 'nav.html' %}
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}
    <div id="link-container">
        <section>
            {% for post in posts %}
            <summary>
                {% if post['image_url'] %}
                <img src="{{ post['image_url'] }}" alt="{{ post['title'] | safe }}" height="55%" width="100%">
                {% endif %}
                {% if not post['image_url'] %}
                <img src="../static/images/placeholder.webp" alt="placeholder" height="55%" width="100%">
                {% endif %}
                <a href="/{{ post ['category'] }}/{{ post['fragment']}}" id="article-title">{{ post['title'] | safe
                    }}</a>
                <a href="/{{ post ['category'] }}/{{ post['fragment']}}" id="preview">{{ post['body'] | replace(" ",
                    "//space//") | replace("<br>",
                    "//nbsp//") | replace("<div>",
                        "//nbsp//") | striptags | replace("//space//", " " ) | replace("//nbsp//", "\n") }}</a>
            </summary>
            {% endfor %}
        </section>
    </div>
    {% include 'footer.html' %}
    {% endblock %}
</body>

</html>