<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QZD2DDJZRZ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-QZD2DDJZRZ');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Skincare, Hair, and More">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Nunito|Quicksand">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/content.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7394667149835180"
        crossorigin="anonymous"></script>
    <title>Butterskinned | Privacy Policy</title>

</head>

<body>
    {% extends 'nav.html' %}
    {% block content %}
    <div id="link-container">
        <p id="ourtoppicks">Privacy Policy</p>
        <p>
            We collect information about you if you choose to leave a comment on our articles. This may include your
            name/pseudonym, browsing habits, and device info.

            <strong>Use of Collected Information</strong>

            We use the information we collect for various purposes:
            <li>
                <ul>To provide and maintain our service</ul>
                <ul>To personalize your experience</ul>
                <ul>To respond to your inquiries and requests</ul>
                <ul>For security and fraud prevention</ul>
            </li>
            <strong>Disclosure of Your Information</strong>
            We may share your data with third parties who help us run our website. We'll only share your information if
            required by law or to protect you or others.

            You have the right to access, correct, or delete your information. If you have any questions, please contact
            us at help@butterskinned.me.

            By using our website, you agree to our privacy practices.
        </p>
    </div>
    {% endblock %}
</body>

</html>